.box {
  background-color: #fff;
  box-shadow: 0 0 5px rgb(73, 73, 73);
  text-align: center;
  padding: 20px;
  max-width: 350px;
  height: 200px;
  border-radius: 3px;
  border: thin;
  margin: auto;
}
.icon {
  border-radius: 50%;
  color: #fff;
  padding: 5%;
  background-color: #ff324d;
  padding: auto;
  text-align: center;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 25px;
  justify-content: center;
}
.box h3 {
  padding: 10px auto;
  font-size: 1.5rem;
  margin: 20px auto;
}
.team__box {
  position: relative;
  z-index: 100;
}
.team__box:hover.box__team_image {
  background-color: gray;
}

.box__team_content {
  text-align: center;
  margin: auto;
}
.box__team_image {
  position: relative;
}
.team__box_socials {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.team__box_socials li a {
  color: #ff324d;
  transition: all 0.3s ease-in;
}
.team__box_socials li :hover {
  background-color: #ff324d;
  color: #fff;
}
.team__box_socials li {
  margin: auto 8px;
  font-size: 1.5rem;
  background-color: #fff;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}
