@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/Vazir.eot");
  src: url("fonts/Vazir.eot?#iefix") format("embedded-opentype"), url("fonts/Vazir.woff2") format("woff2"), url("fonts/Vazir.woff") format("woff"), url("fonts/Vazir.ttf") format("truetype");
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: bold;
  src: url("fonts/Vazir-Bold.eot");
  src: url("fonts/Vazir-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Vazir-Bold.woff2") format("woff2"), url("fonts/Vazir-Bold.woff") format("woff"), url("fonts/Vazir-Bold.ttf") format("truetype");
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "vazir", Arial, sans-serif;
  direction: rtl;
  padding: 0;
  margin: 0;
}

* ul {
  list-style: none;
}

.header-list,
.nav {
  list-style: none;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.header-list a,
.nav a {
  text-decoration: none;
  display: block;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  color: black;
  margin: auto 10px;
}

.header-list a:hover,
.nav a:hover {
  color: #ff324d;
}

.header-list span,
.nav span {
  margin: auto 2px;
}

.header-list li,
.nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.nav > li {
  position: relative;
}

.nav > li:hover > .drop-menu {
  opacity: 1;
  top: 50px;
  visibility: visible;
}

.nav li > .drop-menu {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #d8d8d8;
  opacity: 0;
  visibility: hidden;
  min-width: 230px;
  text-align: right;
  padding: 8px;
  border-radius: 3px;
  z-index: 2;
}

.drop-menu {
  top: 100%;
}

.drop-menu li {
  display: inline-block;
  text-align: right;
  position: relative;
  right: 0;
  width: 100%;
  margin: 6px auto;
}

.arr-left {
  left: 2px;
}

.layer-2 {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: relative;
}

.layer-2:hover > .drop-menu-2 {
  opacity: 1;
  top: 115%;
  left: 0;
  visibility: visible;
}

.drop-menu-2 {
  position: absolute;
  background-color: #d8d8d8;
  right: 100%;
  top: -70%;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  min-width: 170px;
  text-align: center;
  visibility: hidden;
}

.dark-bg {
  background-color: #202325;
  color: white;
}

.media {
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.media li a:hover {
  color: #ff324d;
  cursor: pointer;
}

.footer-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-ul li {
  margin: 6px 0;
}

.footer-ul li a {
  text-decoration: none;
  color: white;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

.footer-ul li a:hover {
  color: #ff324d;
}

@media screen and (max-width: 560px) {
  .footer-ul {
    text-align: center;
  }
  .footer-ul li {
    margin: 10px auto;
  }
}

.my-hei {
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-title {
  margin-bottom: 20px;
  font-weight: bold;
}

.footer-ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 5px 3px;
}

.footer-ul li span {
  margin-left: 8px;
}

.footer-logo {
  margin: 10px auto;
}

.border-gray {
  border-top: 0.01rem solid #797979;
}

.flip {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.img-holder {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.cardy {
  height: 100%;
  border-radius: 5px;
  width: 100%;
  overflow: hidden;
  position: relative;
  border: none;
}

.cardy:hover .img-holder {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.content {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
/*# sourceMappingURL=global.css.map */