@import "./Sass/_mixins.scss";
@import "./Sass/_vars.scss";
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  direction: rtl;
  padding: 0;
  margin: 0;
  ul {
    list-style: none;
  }
}
.header-list,
.nav {
  list-style: none;
  color: black;
  display: flex;
  justify-content: center;
  text-align: center;
  a {
    text-decoration: none;

    transition: color 0.3s;
    color: black;
    padding: 5px;
    margin: auto 10px;
    &:hover {
      color: $main-red;
    }
  }
  span {
    margin: auto 2px;
  }
  li {
    display: flex;
    align-items: center;
  }
}
.nav {
  justify-content: flex-start;
  li {
    position: relative;
    &:hover > .drop-menu {
      opacity: 1;
      top: 115%;
      visibility: visible;
    }
  }
  li > .drop-menu {
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.4s ease-in-out;
    background-color: rgb(216, 216, 216);
    opacity: 0;
    visibility: hidden;
    min-width: 200px;
    text-align: right;
    padding: 8px;
    border-radius: 3px;
  }
}
.drop-menu li {
  display: inline-block;
  text-align: right;
  position: relative;
  right: 0;
  width: 100%;
  margin: 6px auto;
}
.arr-left {
  left: 2px;
}
.layer-2 {
  transition: all 0.4s ease-in-out;
  position: relative;
  &:hover > .drop-menu-2 {
    opacity: 1;
    top: 115%;
    left: 0;
    visibility: visible;
  }
}
.drop-menu-2 {
  position: absolute;
  background-color: rgb(216, 216, 216);
  right: 125%;
  top: -50%;
  transition: all 0.4s ease-in-out;
  min-width: 170px;
  text-align: center;
  visibility: hidden;
}
.dark-bg {
  background-color: $dark-bg;
  color: rgb(255, 255, 255);
}
.media {
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  li a:hover {
    color: $main-red;
    cursor: pointer;
  }
}
.footer-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  li {
    margin: 6px 0;
    a {
      text-decoration: none;
      color: white;
      transition: color 0.4s ease-in-out;
      &:hover {
        color: $main-red;
      }
    }
  }
}
@media screen and (max-width: 560px) {
  .footer-ul {
    text-align: center;
    li {
      margin: 10px auto;
    }
  }
}

.my-hei {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-title {
  margin-bottom: 20px;
  font-weight: bold;
}
.footer-ul li {
  display: flex;

  align-items: flex-start;
  margin: 5px 3px;
  span {
    margin-left: 8px;
  }
}
.footer-logo {
  margin: 10px auto;
}
.border-gray {
  border-top: 0.01rem solid rgb(121, 121, 121);
}
