@import "./Sass/_mixins.scss";
@import "./Sass/_vars.scss";
@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/Vazir.eot");
  src: url("fonts/Vazir.eot?#iefix") format("embedded-opentype"),
    url("fonts/Vazir.woff2") format("woff2"),
    url("fonts/Vazir.woff") format("woff"),
    url("fonts/Vazir.ttf") format("truetype");
}
@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: bold;
  src: url("fonts/Vazir-Bold.eot");
  src: url("fonts/Vazir-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/Vazir-Bold.woff2") format("woff2"),
    url("fonts/Vazir-Bold.woff") format("woff"),
    url("fonts/Vazir-Bold.ttf") format("truetype");
}
html,
body {
  padding: 0;
  margin: 0;

  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "vazir", Arial, sans-serif;
  direction: rtl;
  padding: 0;
  margin: 0;
  ul {
    list-style: none;
  }
}

.header-list,
.nav {
  list-style: none;
  color: black;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 8px auto;
  a {
    text-decoration: none;
    display: block;
    position: relative;
    padding: 6px;
    height: 100%;
    width: 100%;
    transition: color 0.5s;
    color: black;
    margin: auto 10px;

    &:hover {
      color: $main-red;
    }
  }
  span {
    margin: auto 2px;
  }
  li {
    display: flex;
    padding: 8px auto;
    align-items: center;
    position: relative;
  }
}
.nav {
  justify-content: flex-start;
  & > li {
    position: relative;
    &:hover > .drop-menu {
      top: 100%;
      opacity: 1;

      visibility: visible;
    }
  }
  li > .drop-menu {
    position: absolute;
    right: 0;
    top: 50%;
    transition: all 0.2s ease-in-out;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 5px black;
    opacity: 0;
    visibility: hidden;
    min-width: 230px;
    text-align: right;
    // padding: 8px;
    border-radius: 3px;
    z-index: 2;
  }
}
.drop-menu {
  top: -100%;
}
.drop-menu li {
  display: inline-block;
  text-align: right;
  position: relative;
  right: 0;
  width: 100%;
  margin: 3px auto;
}
.arr-left {
  left: 2px;
}
.layer-2 {
  transition: all 0.4s ease-in-out;
  position: relative;
  &:hover > .drop-menu-2 {
    opacity: 1;
    top: 115%;
    left: 0;
    visibility: visible;
  }
}
.drop-menu-2 {
  position: absolute;
  background-color: rgb(216, 216, 216);
  right: 100%;
  top: -70%;
  transition: all 0.4s ease-in-out;
  min-width: 170px;
  text-align: center;
  visibility: hidden;
}
.dark-bg {
  background-color: $dark-bg;
  color: rgb(255, 255, 255);
}
.media {
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  li a:hover {
    color: $main-red;
    cursor: pointer;
  }
}
.footer-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  li {
    margin: 6px 0;
    a {
      text-decoration: none;
      color: white;
      transition: color 0.4s ease-in-out;
      &:hover {
        color: $main-red;
      }
    }
  }
}
@media screen and (max-width: 560px) {
  .footer-ul {
    text-align: center;
    li {
      margin: 10px auto;
    }
  }
}

.my-hei {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-title {
  margin-bottom: 20px;
  font-weight: bold;
}
.footer-ul li {
  display: flex;

  align-items: flex-start;
  margin: 5px 3px;
  span {
    margin-left: 8px;
  }
}
.footer-logo {
  margin: 10px auto;
}
.border-gray {
  border-top: 0.01rem solid rgb(121, 121, 121);
}
.flip {
  transform: scale(-1, 1);
}
.img-holder {
  transition: all 0.4s ease-in-out;
}
.cardy {
  height: 100%;
  border-radius: 5px;
  width: 100%;
  overflow: hidden;
  position: relative;
  border: none;
  &:hover .img-holder {
    transform: scale(1.05);
  }
}
.content {
  position: absolute;

  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.btn.show {
  opacity: 1;
}
.btn.hide {
  opacity: 0;
}
.search-container {
  width: 100vw;
  height: 100vh;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: white;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;

  input {
    border: none;
    height: auto;
    background-color: transparent;
    border-bottom: 3px solid white;
    padding: 10px 0;
    font-size: large;
    width: 100%;
    position: relative;
    color: white;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: white;
    }
  }
}
.search-content {
  width: 100%;

  .close {
    position: absolute;
    top: -35px;
    cursor: pointer;
    font-size: 1.4rem;
    transition: color 0.4s ease-in;
    &:hover {
      color: rgb(197, 197, 197);
    }
  }
}
.search-wrapper {
  width: 75%;
  // background-color: white;
  position: relative;
}
.search-submit {
  position: absolute;
  background-color: transparent;
  left: 10px;
  color: white;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  font-size: 1.6rem;
}
.search-bar--enter {
  opacity: 0;
  transform: translateX(-100%);
}
.search-bar--enter-active {
  opacity: 0.7;
  transition: all 1s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transform: translateX(0);
}
.search-bar--enter-done {
  opacity: 0.7;
}
.search-bar--exit {
}
.search-bar--exit-active {
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transform: translateX(-100%);
}
.search-bar--exit-done {
}
