@import "./Sass/_mixins.scss";
@import "./Sass/_vars.scss";
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  direction: rtl;
}
.header-list,
.nav {
  list-style: none;
  color: black;
  display: flex;
  justify-content: center;
  text-align: center;
  a {
    text-decoration: none;

    transition: color 0.3s;
    color: black;
    margin: auto 10px;
    &:hover {
      color: $main-red;
    }
  }
  span {
    margin: auto 2px;
  }
  li {
    display: flex;
    align-items: center;
  }
}
.nav {
  justify-content: flex-start;
  li {
    position: relative;
    &:hover > .drop-menu {
      opacity: 1;
      top: 115%;
      visibility: visible;
    }
  }
  li > .drop-menu {
    position: absolute;
    right: 0;
    top: 5rem;
    transition: all 0.4s ease-in-out;
    background-color: rgb(216, 216, 216);
    opacity: 0;
    visibility: hidden;
    min-width: 230px;
    text-align: right;
    padding: 8px;
    border-radius: 3px;
  }
}
.drop-menu li {
  display: inline-block;
  text-align: right;
  position: relative;
  right: 0;
  width: 100%;
  margin: 6px auto;
}
