.tablist {
  display: flex;
  width: 50%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;

  box-sizing: border-box;
}
.tab {
  text-decoration: none;
  color: black;
  border-radius: 5px;
  font-size: 1.1rem;
  transition: all 0.3s ease-in-out;

  margin: 5px 15px;
}
.tab:hover {
  color: #ff324d;
}

.activeTab {
  color: #ff324d;
  text-decoration: none;
  padding-bottom: 2px;
  font-size: 1.1rem;
  border-bottom: 2px solid rgb(233, 233, 139);
}
.activeTab:hover {
  color: #ff324d;
}
@media screen and (max-width: 576px) {
  .tablist {
    width: 100%;
  }
}
